<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://custom-stickers-20220920.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fa0101e7-4a38-4bbe-b1d0-4b860a0de9b2/resourceGroups/rg-jpe-custom-stickers/providers/Microsoft.Web/sites/custom-stickers-20220920</ResourceId>
    <UserName>$custom-stickers-20220920</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://custom-stickers-20220920.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>